.navbar-default {
  border: none;
  background-color: #333;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #cccccc;
}

.navbar-default .navbar-nav > li > a {
  color: #cccccc;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(153, 153, 153, 0.7);
  color: #333;
}

.navbar-default .navbar-nav > .active > a {
  background-color: rgba(153, 153, 153, 0.7);
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: rgba(153, 153, 153, 0.7);
  color: #333;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(153, 153, 153, 0.7);
}
