@keyframes shadowHighlight {
  0% {
    box-shadow: inset 0px 0px 0px 0px transparent;
    color: #cccccc;
  }
  50% {
    color: #F00;
  }
  100% {
    box-shadow: inset 0px 0px 45px 0px #800000;
    color: #F00;
  }
}

.shadow-highlight {
  animation-name: shadowHighlight;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

body {
  background-color: #000;
}

.navbar-default {
  border: none;
  background-color: #333;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #cccccc;
}

.navbar-default .navbar-nav > li > a {
  color: #cccccc;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #F00;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #F00;
  box-shadow: inset 0px 0px 45px 0px #800000;
}

.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #F00;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(153, 153, 153, 0.7);
}
