@import url("https://fonts.googleapis.com/css?family=Jim+Nightshade|Ubuntu");
.shadow-highlight {
  animation-name: shadowHighlight;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shadowHighlight {
  0% {
    box-shadow: inset 0px 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px 0px transparent;
    color: #cccccc;
    border: 1px solid transparent;
  }
  50% {
    color: #F00;
  }
  100% {
    box-shadow: 0px 0px 10px 0px #8B0000, inset 0px 0px 20px 0px #8B0000;
    color: #F00;
    border: 1px solid #CE0000;
  }
}

body {
  background-color: #111;
  font-family: 'Ubuntu', sans-serif;
}

body .wrapper {
  height: 91vh;
  width: 100vw;
  display: none;
}

body .active-wrapper {
  height: 91vh;
  width: 100vw;
  display: block;
}

.navbar-default {
  padding-top: 1vh;
  background-color: #111;
  border-radius: 0;
  height: 7vh;
  margin: 0;
}

.navbar-default .navbar-brand {
  color: #F00;
  font-family: 'Jim Nightshade', cursive;
  text-shadow: 0 0 10px #F00;
  font-size: 1.5em;
}

.navbar-default .navbar-nav {
  border: none;
  height: inherit;
}

.navbar-default .navbar-nav > li > a {
  border: 1px solid transparent;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #cccccc;
  height: 40px;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #F00;
}

.navbar-default .navbar-nav > li > a p {
  margin: 0;
}

.navbar-default .navbar-nav > .active {
  pointer-events: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #F00;
}

.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #F00;
}

.navbar-default .navbar-nav > .active > a p {
  border-bottom: 2px solid #F00;
  margin: 0;
}

.navbar-default .navbar-collapse {
  border: none;
}

.my-carousel {
  padding: 0;
  margin: 0;
  height: 91vh;
}

.my-carousel .carousel-inner {
  width: 100vw;
  height: 91vh;
}

.my-carousel .carousel-inner .main-img1 {
  background: url("../img/image10.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 91vh;
}

.my-carousel .carousel-inner .main-img2 {
  background: url("../img/image11.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 91vh;
}

.my-carousel .carousel-inner .main-img3 {
  background-image: url("../img/image12.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 91vh;
}

div.temp-my-work {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
