$engaged: transparentize(lighten(#333, 40), .3);
$navText: invert(#333);
$mainGrey: #111;
$darkRed: #8B0000;
$red: #F00;
$clear: hsla(0, 0%, 0%, 0);
// animation shadows
$redShadow: 0px 0px 10px 0px $darkRed, inset 0px 0px 20px 0px $darkRed;
