div.temp-my-work {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $navText;
  font-family: 'Ubuntu', sans-serif;font-family: 'Ubuntu', sans-serif;
}
