// Compile This File! (Atom sass-autocompile plugin)
@import "variables";
@import "mixins";
@import "animations";
@import "navbar";

// fonts
//
// font-family: 'Raleway', sans-serif;
// font-family: 'Droid Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;

// Remove!
body{
  background-color: #000;
}

.navbar-default {
  border: none;
  background-color: $mainGrey;
  border-radius: 0;
  .navbar-brand {
    color: invert($mainGrey);
  }
  .navbar-nav {
    >li {
      >a {
        color:$navText;
        &:focus {
          color: $activeLink;
        }
      }
    }
    >.active {
      >a{
        background-color: transparent;
        color: $activeLink;
        box-shadow: $redShadow;
        &:focus,
        &:hover {
          background-color: transparent;
          color: $activeLink;
        }
      }
    }
  }
  .navbar-collapse {
  border: none;
  }
  .navbar-toggle {
    border: none;
    &:hover, &:focus{
      background-color: $engaged;
    }
  }
}
