// Compile This File! (Atom sass-autocompile plugin)
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade|Ubuntu');
@import "variables";
@import "mixins";
@import "animations";
@import "navbar";

// fonts
//
// font-family: 'Jim Nightshade', cursive;
// font-family: 'Ubuntu', sans-serif;

// Remove!
body{
  background-color: $mainGrey;
  font-family: 'Ubuntu', sans-serif;
  .wrapper {
    height: 91vh;
    width: 100vw;
  }
}

// Variables



// Styles
.my-carousel {
  padding:0;
  margin:0;
  height: 91vh;
  .carousel-inner{
    width: 100vw;
    height: 91vh;
    .main-img1{
      background: url('../img/image10.png');
      @include img-prop;
    }
    .main-img2{
      background: url('../img/image11.png');
      @include img-prop;
    }
    .main-img3 {
      background-image: url('../img/image12.png');
      @include img-prop;
    }
  }
}
